.tag__element{
    background-color: #FF6060;
    color:white;
    font-size: 14px;
    border-radius: 10px;
    padding-block:5px;
    padding-inline: 20px;
    margin-right:10px;
}
@media (max-width:1250px){
    .tag__element{
        font-size: 10px;
    }
}