.corps__image{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
}
.corps__annonces{
    border-radius:35px;
    margin-top:50px;
    padding: 40px;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.annonce{
    aspect-ratio:1/1;
    border-radius:20px;
    position:relative;
}
.annonce__image{
    object-fit: cover;
    border-radius:20px;
    position: absolute;
    aspect-ratio: 1/1;
    max-width:100%;
    height:100%;
}
.annonce__titre{
    position: relative;
    top:calc(100% - 45px - 15px);
    left:15px;
    width:calc(100% - 15px);
    font-size:18px;
    color:white;
}
.image__titre{
    position:absolute;
    border-radius: 25px;
    height:200px;
    max-width:1240px;
    width:100%;
    object-fit: cover;
    object-position: 50% 45%;
}
.image__titre--texte{
    position:relative;
    margin:0px;
    font-family:'montserrat';
    font-weight: 500;
    color:white;
    font-size: 40px;
}

.corps__liste--logements{
    background-color: #F6F6F6;
}