.corps__titre__apropos{
    width:calc(100% - 20px);
    background-color:#FF6060;
    color:white;
    font-weight: 500;
    border-radius: 5px;
    max-width:1023px;
    margin-inline: auto;
    margin-top:30px;
    padding:10px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.corps__titre__apropos p {
    font-size: 13px;
    font-weight: 500;
}
.corps__texte__apropos{
    width:calc(100% - 20px);
    background-color:#F6F6F6;
    color:#FF6060;
    font-weight: 400;
    border-radius: 5px;
    padding:10px 10px 5px 10px;
    max-width:1023px;
    margin-inline: auto;
    font-size: 12px;
}
.corps__balise__apropos{
    width:calc(100% - 20px);
}

@media (min-width:750px){
    .corps__texte__apropos{
        font-size: 24px;
    }
    .corps__titre__apropos p{
        font-size: 18px;
    }
    .corps__texte__apropos p{
        font-size: 18px;
    }
    .corps__balise__apropos{
        width:calc(100% - 20px);
    }
}


