.balises {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logement {
    &__titre {
        padding-block: 10px;
        font-size: 18px;
        color: #FF6060;
        font-weight: 500;
    }

    &__lieux {
        font-size: 14px;
        color: #FF6060;
        font-weight: 500;
    }

    &__hebergeur__nom {
        font-size: 12px;
    }

    &__informations {
        display: flex;
        flex-direction: column;
        padding-inline: 10px;
        justify-content: space-between;
        width: 100%;

        &__droite {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-top: 0px;

            .logement {
                &__profil {
                    display: flex;
                }
            }
        }

        &__gauche {
            margin-top: 0px;
            gap: 10px;
            padding-bottom: 20px;
        }
    }

    &__hebergeur {
        &__nom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 10px;
        }

        &__photo {
            width: 64px;
            aspect-ratio: 1/1;
            border-radius: 100%;
        }
    }

    &__tag {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media(min-width:750px) {
    .logement {
        &__informations {
            flex-direction: row;
            &__gauche {
                display:flex;
                flex-direction:column;
                padding-top: 20px;
                gap: 20px;
                width:50%;
                padding-bottom:0px;
            }
            &__droite {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                width:50%;
                align-items:flex-end;
            }
        }
        &__lieux{
            font-size: 18px;
        }
        &__titre {
            padding-bottom: 5px;
            font-size: 36px;
        }

        &___texte {
            font-size: 18px;
        }
    }
    .balises {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media(min-width:1000px) {
    .logement {
        &__informations {
            flex-direction: row;

            &__gauche {
                display: flex;
                padding-inline: 0px;
                flex-direction: column;
            }
            &__droite{
                flex-direction: column;
            }
        }
    }
}