.carrousel{
    height:420px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    &__image{
        width:fit-content;
        position:absolute;
        object-fit:cover;
        max-height:420px;
        border-radius: 20px;
    }
    &__fleche{
        position:relative;
        width:79px;
        height:47px;
        z-index:2;
        &--gauche{
            transform:rotate(270deg);
            right:0px;
        }
        &--droite{
            transform:rotate(90deg);
            left:0px;
        }
    }
}
@media (max-width: 1250px){
    .carrousel{
        height:275px;
        justify-content: space-around;
        &__fleche{
            right:0px;
        }
        &__image{
            max-width: calc(100% - 40px);
        }
    }
}