footer{
    font-family: 'montserrat';
    font-size: 24px;
    padding-block: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: black;
}
.footer__texte{
    margin-left:0px;
}