.corps__titre--apropos{
    width:100%;
    background-color:#FF6060;
    color:white;
    font-weight: 500;
    border-radius: 5px;
    max-width:1023px;
    margin-inline: auto;
    margin-top:30px;
    padding:10px;
    display:flex;
    justify-content: space-between;
}
.corps__titre--apropos p {
    font-size: 24px;
}
.corps__texte--apropos{
    background-color:#F6F6F6;
    color:#FF6060;
    font-weight: 400;
    border-radius: 5px;
    padding:20px 10px 5px 10px;
    max-width:1023px;
    margin-inline: auto;
    font-size: 24px;
}
@media (max-width:1250px){
    .corps__texte--apropos{
        font-size: 12px;
    }
    .corps__titre--apropos p{
        font-size: 13px;
    }
    .corps__titre--apropos{
        margin-top: 15px;
    }
}