*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family:'montserrat';
}
main{
    min-height:calc(100vh - 94px);
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:1100px){
    header, main{
        max-width: 1460px;
        margin-inline: auto;
        margin-bottom: 20px;
        padding-inline: 20px;
    }
}