*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family:'montserrat';
}
main{
    min-height:calc(100vh - 94px);
}
header, main{
    max-width: 1240px;
    margin-inline: auto;
    margin-bottom: 20px;
}
.logement__informations, .logement__notes{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.logement__titre{
    color:#FF6060;
    font-size: 36px;
    font-weight: 500;
}
.logement__lieux{
    color:#FF6060;
}
.logement__photo{
    width:64px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
.logement__profil{
    display:flex;
}
.balises{
    display:grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px;
}
.logement__hebergeur--nom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right:10px;
}
.tag{
    display:flex;
}
.tag__element{
    background-color: #FF6060;
    color:white;
    font-size: 14px;
    border-radius: 10px;
    padding-block:5px;
    padding-inline: 20px;
    margin-right:10px;
}