header{
    display:flex;
    justify-content: space-between;
    padding-top:20px;
    padding-inline: 20px;
}
nav{
    display:flex;
    align-items: center;
}
.li{
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
}
ul{
    display:flex;
    margin: 0px;
    padding:0px;
    gap:20px;
}
a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color:#FF6060;
    text-transform: uppercase;
    &.active{
        text-decoration: underline;
    }
}
.logo{
    width:inherit;
    &__liens{
    width:130px;
    }
}
@media (min-width: 750px){
    a{
        font-size: 24px;
        text-transform: none;
    }
    .logo_liens{
        width:145px;
    }
}